.body{
  font-family: 'Abril Fatface', serif;
  color: #1A1A1A;
}

.intro{
  position: relative;
  top:0;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background: #D2DFDB;
  text-align: center;
  overflow: hidden;
}
.intro-img{
  position: absolute;
  bottom: -100vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}
.intro-img img{
  height: 95vh;
}
.intro-text{
  position: absolute;
  top: 50%;
  font-size: 4em;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  font-family: 'Abril Fatface', serif;
}
#manish{
  -webkit-transform: translate(80%,-60%);
  -ms-transform: translate(80%,-60%);
  transform: translate(80%,-60%);
  right:50%;
  opacity:0;
}
#maryada{
  -webkit-transform: translate(-80%,30%);
  -ms-transform: translate(-80%,30%);
  transform: translate(-80%,30%);
  left: 50%;
  opacity:0;
}
.about{
  position: relative;
  display: table;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  background: #fff;
  text-align: justify;
  padding: 20px 40px;
  color: #1A1A1A;
  font-family: 'Abril Fatface', serif;
  overflow-x: hidden;
}
.about-content{
  display: table-cell;
  vertical-align: middle;
}
.about h1{
  font-size: 2em;
}
.about p{
  font-family: serif;
}
.about-container {
  padding-right: 0;
  padding-left: 0;
}
.about-img{
  padding: 0;
  text-align: right;
}
.about-img img{
  position: absolute;
  width: 100%;
  right:0;
}
.experience{
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  background: #EDEBE0;
  padding: 20px 80px;
  color: #4c4b42;
  font-family: 'Abril Fatface', serif;
}
.experience h1{
  font-size: 3em;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 30px;
}
.experience h2{
  font-size: 2.5em;
  margin-top: 30px;
  text-align: center;
}
.experience h3{
  font-size: 2em;
  margin-top: 0px;
  text-align: center;
}
.experience h4{
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
}
.tamu, .hsbc{
  margin-top: 60px;
}

.exp-img{
  text-align: center;
}

.exp-img img{
  width: 100%;
  max-width: 200px;
}

@media screen and (max-width: 970px), screen and (max-device-width:  970px) {
  .about-img img{
    width: 60%;
  }
  .experience{
    padding: 20px 40px;
  }

}
